tag_file="waifus.txt"
bird_file="birds.txt"
repost_file="reposts.txt"
discord_token="WHEN WILL DISCORD'S API SUPPORT IPV6 SO I CAN SAVE MONEY ON HETZNER"
mw_user_agent="SEE https://www.mediawiki.org/wiki/API:Etiquette#The_User-Agent_header"

command_name__set=".setwaifu"
command_name__get="mywaifu"
command_name__mike="mikewaifu"

command_name__bird="mybird"
command_name__birdset=".setbird"

command_name__start="The time hath come."
command_name__stop="fuck off"
start_response="<:shamistonks:925779459527819275>"
stop_response="<:playdead:970451149968777266>"

imobot_user_id="432918114582265856"
wait_for_imobot=false

repost_window=400000

# encouraged but not required
#danbooru_username=""
#danbooru_api_key=""
#gelbooru_user_id=""
#gelbooru_api_key=""
